body{
    background-color: #AECFDF;
    text-align: center;
    margin: 30px;
    display: flex;
    flex-direction: column;   /* keeps title on top */
    justify-content: center;  /* vertical center */
    align-items: center;      /* horizontal center */

}
.container {
    background-color: #9F9FAD;
    border-radius: 10px;
    padding: 10px;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    width: 60vh;
    height: 60vh;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.box {
    background-color: #93748A;
    border-radius: 5px;

    width: 19vh;  
    height: 19vh;
    margin-bottom: 0.1vh;          
}